h1 {
	text-align: center;
	color: white;
	font-style: oblique;
	font-size: 35px;
}

h2 {
	text-align: center;
	font-style: oblique;
	text-decoration: underline;
}

h3 {
	font-style: oblique;
}
body {
	 background: rgb(255,255,255);
	 background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(119,240,53,1) 35%, rgba(47,199,230,1) 100%); 
}

img{
	max-width: 100%;
	vertical-align:top;	
}

ul {
	list-style-type: square;
}

button {
	font-family: monospace;
    background: #eb94d0;
    padding: 5px;
    border-radius: 10px;
    border-style: none;
    color:white;
    background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
  	background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
  	background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
  	background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
}

.indice {
	height: 70px;
	display:flex;
	background-color:orange;
	align-items:center;
	justify-content:center;
	font-size: 2em;
	font-family:"Courier";
	color: black;
}

#play {
	position:absolute;
	top: 215px;
	font-size: 2.5em;
	padding: 10px;
	display:flex;
	align-items: center;
	border-radius: 50%;
	border:4px solid black;
	box-shadow: 0 0 13px black inset;
}

.marca{
	display:inline;
	align-items:center;
	position:absolute;
	left: 180px;
	top: 200px;
	background-color:#85ff0b;
}

.imagenes {
	display:flex;
	position:absolute;
	right: 450px;
	top: 180px;	
}

.frutas {
	height: 100px;
    width: 100px;
    border:4px solid red;
	border-radius:10px;
	padding: 10px;
}

.botones {
	position:absolute;
	right: 500px;
	top:330px;
}

.botones1 {
	position: absolute;
	right: 500px;
	top:365px;
}

.inicio {
	
	 padding: 5px;
   margin-left: 35px;
}

.about {
	text-align: center;
}


