@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    text-decoration: none;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 80px;      
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 200;
}

/*MENU HORIZONTAL*/
.container-menu {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #133774;
    padding: 0;
    float: right;
}

.title-menu {
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 14px;
}

.icon-menu {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

.icon-menu i {
    color: white;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
}

.header-menu {
    max-width: 1200px;
    margin: auto;
    height: 100%;
   
}

.nav-header {
    height: 100%;
}

.nav-header > ul {
    height: 100%;
    display: flex;
}

.nav-header ul li {
    height: 100%;
    list-style: none;
    position: relative;
}

.nav-header > ul > li:first-child > a {
    background-image: url(../icon/casa.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}

#selected {
    transform: scale(1.1);
    background-color: #0074C7;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.nav-header > ul > li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    transform: all 300ms ease;
}

.nav-header > ul > li a:hover {
    transform: scale(1.1);
    background-color: #0074C7;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

/*SUBMENU*/
.nav-header > ul > li > ul {
    width: 200px;
    display: flex;  
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 70px;
    visibility: hidden;
    opacity: 0;
    left: -5px;
    padding: 14px 0px;
    box-shadow:  0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 10;
    transition: all 300ms ease;
}

.nav-header > ul > li:hover > ul {
    visibility: visible;
    opacity: 1;
    top:50px;
}

.nav-header > ul > li > ul:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

.nav-header ul li ul li a {
    display: block;
    color: #0099e9;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}

.nav-header ul li ul li a:hover {
    background: #0074C7;
    color: white;
    transform: scale(1.1);
    padding: 18px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}


/*MENU LATERAL*/
.container-menu-lateral {
    position: fixed;
    margin-top: 50px;
    height: 100%;
    width: 72px;
    left: 0;
    top: 0;
    background-color: #292f4c;
    overflow: hidden;
    font-size: 25px;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 100;
}

.container-menu-lateral {
    -ms-overflow-style: none;
    scrollbar-width: none;   
}

.container-menu-lateral--show {
    left: -72px;
}

@media screen and (max-width: 760px) {
    .container-menu-lateral--show {
        width: 72px;
        left: -72px;
    }
}

.menu-lateral {
    position: absolute;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 100%;
    transition: transform 0.3s;    
}

.menu-lateral-top {
    margin-top:10px;
}

.menu-lateral-top a {
    color: #ffffffb2;
    cursor: default;
    display: flex;
    position: relative;
    transition: color 300ms;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.menu-lateral-top a:hover {
    color: white;
}

.icono-lateral {
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
}

.option {
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.option:hover {
    background-color: #252C29;
    border-radius: 5px;
}
.option i {
    margin-left: 15px;
}

.menu-lateral-bottom{
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 15%;

}

.icono-menu-bottom {
    bottom: 50px;
}

.menu-lateral-bottom a {
   
    color: #ffffffb2;
    cursor: default;
    display: flex;
    position: relative;
    transition: color 300ms;
    align-items: center;
    justify-content: center;
    margin: auto;
    
    
}
.option-bottom {
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
    width: 50px;
    height: 50px;
    margin:0 0 8px;
    
}

.option-bottom i {
  
    margin-left: 15px;

}


@media screen and (max-width: 768px) {
    .nav-header > ul {
        flex-direction: column;
        position: fixed;
        left: 100px;
        top: 50px;
        width: 100%;
        height: 195px;
        transition: all 300ms ease;
        z-index: 100;   
        background-color: #0074C7;  
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
        rgba(0, 0, 0, 0.12) 0px -12px 30px, 
        rgba(0, 0, 0, 0.12) 0px 4px 6px, 
        rgba(0, 0, 0, 0.17) 0px 12px 13px, 
        rgba(0, 0, 0, 0.09) 0px -3px 5px;

    }

    .header-menu {
        opacity: 0;
        visibility: hidden;
    }

    .nav-header ul li ul  {
        left: 150px;     
    }

    .nav-header > ul > li > a:hover {
        transform: scale(1.01);
    }

    .nav-header > ul >li:hover ul  {
        top: 50px;
    }

    .nav-header > ul > li:first-child > a{
        background-position: 20px;
    }

    .icono-responsive {  
        justify-content: flex-end;
        display: flex;
        align-items: center;   
        width: 100%;
        height: 50px;
        margin-right: 7px;
    }
   
    .icono-responsive a {
        background-image: url(../icon/menu.png);
        padding: 20px 20px;

        background-size: 24px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .icono__ {
        color: white;
        font-size: 30px;
        cursor: pointer;       
        position: absolute;
    }

    #selected {
        transform: scale(1);
    }

    .header-menu.active {
        opacity: 1;
        visibility: visible;
    }
}

/*MODAL AJUSTES*/
.modal-ajustes {
    position: fixed;
    display: flex;
    background-color: transparent;
    bottom: 0;
    top:0;
    left: 0;
    right: 0;

    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
}

.modal-ajustes-container {
    position: absolute;
    top: 50px;
    width: 30%;
    height: 100%; 
    transition: all 50ms ease-in;
    text-align: center;
    left: 69px;
    background-color: #30324e;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
   
 
}

.modal-ajustes.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.modal-ajustes-header {
    border-bottom: 1px solid #4b4e69;
    width: 100%;
    height: 15%;
}

.modal-ajustes-body {
    border-bottom: 1px solid #4b4e69;
    width: 100%;
    height: 60%;
}

.modal-ajustes-salir {
    position: absolute;
  
    justify-content: flex-end;
    right: 0;
    margin-top: 15px;
    margin-right: 10px;
}
.modal-ajustes-salir i {
    color: white;
    cursor: pointer;
}

/*MODAL USUARIO*/
.modal-user {
    position: fixed;
    display: flex;
    background-color: transparent;
    bottom: 0;
    top:0;
    left: 0;
    right: 0;

    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
}

.modal-user-container {
    position: absolute;
    border-radius: 1em;
    width: 350px;
    height: 500px;
    max-width: 350px;
    max-height: 90%;
   
    transition: all 50ms ease-in;
    text-align: center;
    left: 69px;
    bottom: 50px;
    background-color: #30324e;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.modal-user.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.modal-user-header {
    display: flex;
    align-items: center;
    padding: 16px 16px;
    border-bottom: 1px solid #4b4e69;
}

.modal-user-header .title {
    color: white;
}
.modal-user-body {
    border-bottom: 1px solid #4b4e69;
    height: 70%;
    display: flex;
    padding: 8px;
   

}
.modal-user-body-section {
    height: 100%;
    padding: 8px;
    
}

.modal-user-body_column{
    width: 50%;
    align-items: center;
    justify-content: center; 
  
    
}

.modal-body__titulo {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    color:  #4b4e69;
    padding: 0 0 0 16px;
    margin: 8px 0;
    
}


.modal-user-body a{
    text-decoration: none;
    color: white;
    
   
}
.modal-user-body a:hover {
    color:white;
}

.modal-user-body a > .modal-body__icono-perfil:hover {
    opacity: 0.7; 
    border-radius: 5px;
    padding: 4px 30px;

    
    background-color: #4b4e69;
}

.modal-body__icono-perfil {
    align-items: center;
    padding: 8px 35px;
    display: flex;
    
}

.icono-perfil_titulo {
    color: white;
}


.modal-user-body-section_ {
    height: 45%;
    padding: 8px;
    border-bottom: 1px solid #4b4e69;
    
}

.modal-user-body-section__ {
    height: 45px;
    padding: 6px;
    border-bottom: 1px solid #4b4e69;
    
}

.icono-tema {
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .modal-user-container{
        margin-top: 80%;
    }
}


/*CUERPO DE LA PAGINA*/
.cuerpo {
    margin-top: 80px;
    margin-left: 90px;
    margin-right: 30px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 100;
}

@media screen and (max-width: 760px) {
    .body-move {
        margin-left: 20px;
    }
}

.body-move {
    margin-left: 20px;
}