/*Menú*/
body {
    margin: 0;
    background-color: #333;
}
.nav-menu {
    position: fixed;
    width: 350px;
    height: 100vh;
    padding-top: 1.5rem;
    background-color: azure;
    top: 0;
    transform: translateX(-350px);   
    transition: transform 0.3s;

}

@media screen and (min-width: 768px) {
    .nav-menu{
        transform: translateX(-300px);
    }
}

@media screen and (min-width:1024px) {
    .nav-menu {
        transform: translateX(0);
    }
}

.nav--show {
    transform: translateX(-300px);
}

.nav--show .toggle-menu {
    left: 295px;
    top: 0;
    color: #333;
}

.toggle-menu {
    position: absolute;
    top: 0;
    left: 350px;
    font-size: 2rem;
    color: azure;
    width: 30px;
    height: 30px;
    padding: 1rem;
    z-index: 100;
}

@media screen and (min-width:768px) {
    .toggle-menu {
        display: none;
    }
}

.main {
    margin-left: 0;
    min-height: 100vh;
    background-color: #333;
    text-align: center;
    overflow: hidden;
    padding-top: 2.5rem;
}


@media screen and (min-width: 768px) {
    .main{
        margin-left: 50px;
    }
}

@media screen and (min-width:1024px) {
    .main {
        margin-left: 350px;
    }
}


.main-menu {
    padding-left: 0;
}

.main-menu--show {
   transform: translateX(260px);
}

.main-menu--show .main-menu__item{
    transform: translateX(-300px);
 }
 
 .main-menu--show .main-menu__icon{
    transform: translateX(300px);
    color: #333;
 }
 
.main-menu__item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 2rem;
}

.main-menu__link {
    width: 200px;
    padding: 1rem 3rem;
    border-radius: 0 10px 10px 0;
    background-color: royalblue;
    color: azure;
    text-decoration: none;
}

.main-menu__icon {
    margin-right: 1.5rem;
    color: #333;
}

@media screen and (min-width: 768px) {
    .main-menu__icon{
        transform: translateX(260px);
    }
}

@media screen and (min-width:1024px) {
    .main-menu__icon {
        transform: translateX(0);
        color: azure;
    }
}
