#stroke{
-webkit-text-fill-color: yellowgreen;
-webkit-text-stroke: 1px black;
}
h1{
  font-family: Times New Roman;
  text-decoration: underline;
}
body{
background: #FFFFFF;
background: -moz-radial-gradient(center, #FFFFFF 0%, #29A0EE 0%, #FFFFFF 100%);
background: -webkit-radial-gradient(center, #FFFFFF 0%, #29A0EE 0%, #FFFFFF 100%);
background: radial-gradient(ellipse at center, #FFFFFF 0%, #29A0EE 0%, #FFFFFF 100%);
}
 table{
		border: 1px solid black;
		text-align: center;
		padding: 15px;
		border-spacing: 2px;
    
		
		
	}
	th{
		border: 2px solid black;
		height: 50px;
		width: 20px;
	}

	td{
		border: 1px solid black;
		height: 50px
		width: 50px;
		text-align: center;		
	}
#indice {
  height: 70px;
  display:flex;
  background-color:orange;
  align-items:center;
  justify-content:center;
  font-size: 2em;
  font-family:"Courier";
  color: black;
}

#lista1 {
    font-family:Arial;
    font-weight:bold;
    font-size:13px;
  }
#lista1 ul {
    display:inline;
  padding-left:3px;
     padding-right:3px;
   }
#bbdd{
		background: #FFBB99;
    transition: background 1s ease;
}
    #bbdd:hover{
                          background: yellow;
                }
     #programacion{
     						background-color: #00ffff;
     				transition: background 1s ease;
     }
     #programacion:hover{
                          background: yellow;
                }
     #ingles{
     		background-color: #ccff99;
     		transition: background 1s ease;

     }
    #ingles:hover{
                          background: yellow;
                }
     #si{
     	 background-color: #ffff99;
     	 transition: background 1s ease;

     }
   #si:hover{
                          background: yellow;
                }
     #lmsg:hover{
                          background: yellow;

                }           
     #lmsg{
     	background-color: #ffa31a;
     	transition: background 1s ease;

     }
     #ed{
     		background-color: #bf8040;
     		transition: background 1s ease;

     }
     #ed:hover{
                          background: yellow;
                }
     #fol{ background-color:  #ff99e6;
     	transition: background 1s ease;
}
}

}
	#fol:hover{
                          background: yellow;
                }
  	#empresas{
  		background-color: #33cc33;
  		transition: background 1s ease;

  	}
  	#empresas:hover{
                          background: yellow;
                }
  	#recreo:hover{
                          background: yellow;
                }
	#recreo{ 
background-color:  #f2f2f2;
transition: background 1s ease;
}

	#hora {
		background-color: #cc6666;
    transition: background 1s ease;
    border: 2px solid black;
    font-weight: bolder;
	}
  #hora:hover{
    background: yellow
  }
  #recreo:hover{
    background: yellow;
  }
	#dia{
		background-color: #99b3ff;
	   transition: background 1s ease;
  }
  #dia:hover{
    background: yellow;
  }
  button {
  font-family: monospace;
    background: #eb94d0;
    padding: 5px;
    border-radius: 10px;
    border-style: none;
    color:white;
    background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
    background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
    background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
}