body {
    margin: 0;
}

.overlay {
    visibility: hidden;
    
}

.overlay.active {
    visibility: visible;
}
.btn-abrir-popup {
    border-radius: 15px;
}
.popup {
   
    height: 29px;
    width: 400px;
    background-color: #27AE60; 
    align-items: center;  
    padding: 10px;
    position: absolute;
    top: 7%;
    left: 40%;
    border-radius: 5px;
    border-left: 5px solid #178344;
    display: flex;
    justify-content: space-between;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.popup.active {
    opacity: 1;
    transform: scale(1);
}

.popup img{
    height: 25px;
    margin-left: 10px;
}

.popup .icon-check {
    color: white;
    opacity: 0;
}

.popup .btn-cerrar-popup {
    color: white;
    transition: .3s ease all;
    margin-right: 10px;
  
}

.popup .btn-cerrar-popup:hover {
    color: black; 
}

.popup .mensaje{
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 14px;
    position: absolute;
    margin-left: 35px;
    opacity: 0;
}

.popup.active .mensaje {animation: entradaMensaje .6s ease .5s forwards;}
.popup.active .icon-check {animation: entradaIcono .6s ease .5s forwards;}

@keyframes entradaMensaje {
    from {
        transform: translateZ(-25px);
        opacity: 0;
    }
    to {
        transform: translateZ(0px);
        
        opacity: 1;
    }
}

@keyframes entradaIcono {
    from {
        transform: translateZ(-25px);
        opacity: 0;
    }
    to {
        transform: translateZ(0px);
        opacity: 1;
    }
}

.nav{
    position: fixed;
    width: 350px;
    height: 100vh;
    background-color: red;
    transform:translateX(-300px);

}

@media screen and (min-width: 768px) {
    .nav{
        transform: translateX(-300px)
    }
}

.main {
    margin-left: 350px;
    min-height: 100vh;
    background-color: #333;
    text-align: center;
}

